<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/client.js"></script>
    <script src="../js/vudio.js"></script>
</head>

<body>
    <H1>客户端音频</H1>
    <button id="btn-start" onclick="start()">开麦</button>
    <button id="btn-end" onclick="endMic()">闭麦</button>
    <canvas id="canvas"></canvas>
    <audio id="audio"></audio>
    <div>
        <input type="text">

    </div>
</body>

</html>